.container.textmonials_container{
    width: 40%;
    padding-bottom: 4rem;

}

.client_avtar{
    width: 4rem;
    aspect-ratio: 1/1;
   overflow: hidden;
   border-radius: 50%;
   margin: 0 auto 1rem;
   /* border: 0.4rem solid var(--color-primary-variant);
    */
    border: 0.3rem solid var(--color-primary-variant);
}

.testmonials{
    background: var(--color-bg-varriant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;


}

.client_review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;

}

.swiper-pagination-bullet .swiper-pagination-bullet{
    background: var(--color-primary);
}

/* ================================== MEDIA QUERIES (MEDIUM DEVICES LIKE --> TABLETS)=================================== */

@media screen and (max-width: 1024px) {
    .container.textmonials_container{
        width: 60%;
    }
  }
  
  /* ================================== MEDIA QUERIES (SMOLLES DEVICES LIKE --> MOBILES)=================================== */
  
  @media screen and (max-width: 600px) {
    .container.textmonials_container{
        width: var(--container-width-sm);
    }

    .client_review{
        width: var(--container-width-sm);
    }

    section {
        width: 110%;
        padding: 2rem 1rem;
        margin-left: 2rem;
    }
    

    
  }
  